<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <div id=footer>
      <script>
{{#if dict}}
    var dict = {{{dict}}}
{{/if}}

{{#if heat}}
    var heat = {{{heat}}};
{{/if}}

{{#if bikes}}
    var bikes = {{{bikes}}}
{{/if}}

var Bikerr = {{{Bikerr}}};
var Heaterr = {{{Heaterr}}};
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key={{token}}&libraries=visualization&callback=initMap"> </script>
      <script async defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src='/javascripts/maps.js'></script>
      <script src='/javascripts/heatMap.js'></script>
      <script src='/javascripts/locations.js'></script>
      <script src='/javascripts/distanceTo.js'></script>
  </div>
</html>
